<div class="follow">
  <% @followings.each do |f| %>
    <%= link_to user_path(f.id) do %>
      <div class="block1">
        <% if f.avatar.attached? %>
          <%= image_tag(f.avatar_resize, class: "small-avatar") %>
        <% else %>
          <i class="fas fa-user-circle small-avatar-none"></i>
        <% end %>
        <p><%= f.name %></p>
      </div>
      <div class="block2">
        <p><%= f.company %></p>
      </div>
    <% end %>
    <div id="followChange">
      <% if current_user != f %>
        <% if f.followed_by?(current_user) %>
          <p class="follow-btn"><%=link_to "フォロー済み", user_relationships_path(f.id, button: "unfollow"), remote: true, method: :delete %></p>
        <% else %>
          <p class="follow-btn"><%=link_to "フォローする", user_relationships_path(f.id, button: "following"), remote: true, method: :post %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
