<div class="mypage">
    <% if @user.avatar.attached? %>
      <%= image_tag(@user.avatar_resize, class: "large-avatar") %>
    <% else %>
      <i class="fas fa-user-circle large-avatar-none"></i>
    <% end %>
    <p class="company"><%= @user.company %></p>
    <p class="name"><%= @user.name %></p>
    <div id="followChange">
      <% if user_signed_in? %>
        <% if current_user != @user %>
          <% if @user.followed_by?(current_user) %>
            <p class="follow-btn"><%=link_to "フォロー済み", user_relationships_path(@user.id, type: "unfollow"), remote: true, method: :delete %></p>
          <% else %>
            <p class="follow-btn"><%=link_to "フォローする", user_relationships_path(@user.id, type: "following"), remote: true, method: :post %></p>
          <% end %>
        <% else %>
          <p class="mypage-edit-btn"><%= link_to "プロフィール編集", edit_user_registration_path(params[:id]) %></p>
        <% end %>
      <% end %>
    </div>
  <div class="text">
    <% if @user.text.present? %>
      <%=safe_join(@user.text.split("\n"),tag(:br))%>
    <% end %>
  </div>
</div>
<div class="mypage-contents">
  <%= link_to "フォロー中一覧", user_path(params[:id], type: "followings"), remote: true %>
  <%= link_to "フォロワー一覧", user_path(params[:id], type: "followers"), remote: true %>
  <%= link_to "投稿一覧", user_path(params[:id], type: "posts"), remote: true %>
</div>
<div id="mypageChange">
</div>
