<div class="mypage">
  <div class="mypage-block">
    <% if @user.avatar.attached? %>
      <%= image_tag(@user.avatar_resize, class: "mypage-avatar") %>
    <% else %>
      <%= fa_icon "user-circle", class: "avatar-none" %>
    <% end %>
      <p class="mypage-name"><%= @user.name %></p>
    <% if current_user != @user %>
      <% if @user.followed_by?(current_user) %>
        <p class="follow-btn"><%=link_to "フォロー済み", user_relationships_path(@user.id), method: :delete %></p>
      <% else %>
        <p class="follow-btn"><%=link_to "フォローする", user_relationships_path(@user.id), method: :post %></p>
      <% end %>
    <% else %>
      <p class="mypage-edit-btn"><%= link_to "プロフィール編集", edit_user_registration_path(params[:id]) %></p>
    <% end %>
  </div>
  <div class="mypage-text">
    <% if @user.text.present? %>
      <%=safe_join(@user.text.split("\n"),tag(:br))%>
    <% end %>
  </div>
</div>
