<div class="care-recipient-block1 container">
  <%= form_for @care_recipient do |f| %>
    <div class="care-recipient-block2">
      <%= f.label :name, "名前", class: "care-recipient-label" %>
      <%= f.text_field :name, class: "name" %>
      <%= f.label :sex, "性別", class: "care-recipient-label" %>
      <%= f.select :sex, CareRecipient.sexes.keys, {}, class: "sex" %>
    </div>
    <div class="care-recipient-block2">
      <%= f.label :age, "年齢", class: "care-recipient-label" %>
      <%= f.number_field :age, class: "age" %>
      <%= f.label :birthday, "誕生日", class: "care-recipient-label" %>
      <%= f.date_field :birthday %>
    </div>
    <div class="care-recipient-block3">
      <%= f.label :facility_in_charge, "担当事業所", class: "care-recipient-label" %>
      <%= f.text_field :facility_in_charge, class: "facility-in-charge" %>
      <%= f.label :manager_in_charge, "担当ケアマネージャー", class: "care-recipient-label" %>
      <%= f.text_field :manager_in_charge, class: "manager-in-charge" %>
    </div>
    <div class="care-recipient-block2">
      <%= f.label :degree_care_required, "要介護度", class: "care-recipient-label" %>
      <%= f.select :degree_care_required, [[1],[2],[3],[4],[5]], {}, class: "degree-care-required" %>
      <%= f.label :dementia, "認知症", class: "care-recipient-label" %>
      <%= f.select :dementia, [["有り", 1],["無し", 2]], {}, class: "dementia" %>
    </div>
    <div class="care-recipient-block2">
      <%= f.label :notes, "特記事項", class: "care-recipient-label" %>
      <%= f.text_area :notes, class: "notes" %>
    </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit "編集する", class: "care-diary-btn" %>
  <% end %>
</div>
