<div class="page-title">
  <p>チャットルームの作成</p>
</div>

<%= form_for @room do |r| %>
  <%= r.text_field :name %>
  <%= r.fields_for :entries do |e| %>
    <%= e.collection_check_boxes(:user_ids, @matchers, :id, :name, include_hidden: false) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
    <%= r.submit "作成する" %>
  <% end %>
<% end %>
