<div class="page-title">
  <p>チャットルームの作成</p>
</div>
<div class="room-new-block">
  <%= form_for @room do |room| %>
    <div class="room-name">
      <p><%= room.label :name, "ルームネーム" %></p>
      <%= room.text_field :name %>
    </div>
    <%= room.fields_for :entries do |e| %>
      <%= e.collection_check_boxes(:user_ids, @matchers, :id, :name) do |user| %>
        <div>
          <%= user.label do %>
            <%= user.check_box %>
            <% if user.object.avatar.attached? %>
              <%= image_tag(user.object.avatar_resize, class: "small-avatar") %>
            <% else %>
              <i class="fas fa-user-circle small-avatar-none avatar"></i>
            <% end %>
            <p><%= user.object.name %></p>
            <p><%= user.object.company %></p>
          <% end %>
        </div>
      <% end %>
      <%= room.submit "作成する" %>
    <% end %>
  <% end %>
</div>
