<div id="scroll">
  <div id="message-contents">
    <%= render 'messages/messages' %>
  </div>
  <div class="message-form-block">
    <div>
      <%= form_for @message, remote: true do |f| %>
        <%= f.text_area :content %>
        <%= f.hidden_field :room_id, :value => @room.id %>
        <%= f.button style: 'border-style: none;' do %>
          <i class="fas fa-paper-plane"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
