<div class="scroll-list jscroll">
  <% @posts.each do |post| %>
    <div class="post-block">
      <% if post.user == current_user %>
        <span>
          <%= link_to "/posts/#{post.id}", class: "post-destroy-btn", method: :delete, data: {confirm: "削除しますか？"} do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
          <%= link_to edit_post_path(post), class: "post-edit-btn" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </span>
      <% end %>
      <% if post.img.attached? %>
        <div class="post-img">
          <%= image_tag(post.img_resize) %>
        </div>
      <% end %>
      <%= link_to user_path(post.user.id) do %>
        <% if post.user.avatar.attached? %>
          <%= image_tag(post.user.avatar_resize, class: "small-avatar avatar") %>
        <% else %>
          <i class="fas fa-user-circle small-avatar-none avatar"></i>
        <% end %>
      <% end %>
      <%= link_to post_path(post.id), id: "post-link" do %>
        <div class="link-block">
        </div>
      <% end %>
      <div>
        <div class="name">

        <%= link_to user_path(post.user.id) do %>
            <p><%= post.user.name %></p>
            <p><%= post.user.company %></p>
        <% end %>
      </div>

        <p><%=safe_join(post.content.split("\n"),tag(:br))%></p>
      </div>
      <div id="like-button-<%= post.id %>" class="like-button">
        <%= render partial: 'likes/like', locals: { post: post } %>
      </div>
    </div>
  <% end %>
  <%= paginate @posts %>
</div>
