<div class="sidebar">
    <% if user_signed_in? %>
      <%= link_to user_path(current_user.id) do %>
        <% if current_user.avatar.attached? %>
          <%= image_tag(current_user.avatar_resize, class: "middle-avatar") %>
        <% else %>
        <i class="fas fa-user-circle middle-avatar-none"></i>
        <% end %>
        <p class="sidebar-name"><%= current_user.name %></p>
      <% end %>
    <% end %>
  <ul class="sidebar-contents">
    <% if user_signed_in? %>
      <div data-turbolinks="false">
        <p><%= link_to "メッセージ作成", new_room_path %></p>
        <p><%= link_to "投稿作成", new_post_path %></p>
      <% if current_user.role == 1 %>
        <p><%= link_to "介護日誌", care_diaries_path %></p>
      <% end %>
      <% if current_user.role == 2 || current_user.role == 3 %>
        <p><%= link_to "利用者一覧", care_recipients_path %></p>
      <% end %>
      </div>
    <% end %>
  </ul>
</div>
