<div class="sign-in-block container">
  <h2 class="sign-in-title">プロフィール編集</h2>
  <%= render "users/shared/error_messages", resource: resource %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.text_field :name, autofocus: true, placeholder: "ユーザーネーム", class: "sign-in-form" %>
    <%= f.text_field :email, placeholder: "メールアドレス", class: "sign-in-form" %>
    <%= f.submit "編集確定", class: "sign-in-btn" %>
  <% end %>
</div>
