<div class="sign-in-block container">
  <h2 class="sign-in-title row">プロフィール編集</h2>
  <%= render "users/shared/error_messages", resource: resource %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div id="img_field" class="col-xs-12 col-lg-6" onClick="$('#file').click()">
      <% if current_user.avatar.attached? %>
        <%= image_tag(current_user.avatar_resize, class: "mypage-avatar") %>
      <% else %>
        <%= fa_icon "user-circle", class: "avatar-none" %>
      <% end %>
      <%= f.file_field :avatar, id: "file"%>
    </div>
    <div class="col-xs-12 col-lg-6">
      <%= f.text_field :name, autofocus: true, placeholder: "ユーザーネーム", class: "edit-form" %>
      <%= f.text_field :email, placeholder: "メールアドレス", class: "edit-form" %>
    </div>
    <%= f.text_area :text, placeholder: "自己紹介", class: "edit-text" %>

    <%= f.submit "編集確定", class: "edit-btn" %>
  <% end %>
</div>
