<div class="log-in-block container">
  <h2 class="log-in-title">新規登録</h2>
　<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="log-in-field">
      <%= f.text_field :name, autofocus: true, placeholder: "ユーザーネーム", class: "log-in-form"  %>
    </div>
    <div class="log-in-field">
      <%= f.text_field :email, placeholder: "メールアドレス", class: "log-in-form" %>
    </div>
    <div class="log-in-field">
      <%= f.password_field :password, placeholder: "パスワード", class: "log-in-form" %>
    </div>
    <div class="log-in-field">
      <%= f.password_field :password_confirmation, placeholder: "パスワードの確認", class: "log-in-form" %>
    </div>
      <%= f.submit "新規登録", class: "log-in-btn" %>
  <% end %>
  <p class="log-in-link">既にアカウントをお持ちの方<%= link_to "ログイン", user_session_path %></p>
  <%= render "devise/shared/links" %>
</div>
